{% load static   %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به حساب کاربری</title>
    <link rel="stylesheet" href="{% static 'user_app/css/login.css' %}">
</head>
<body>

  <div class="login-box">
    <h1>ورود</h1>
   <form action="" method="POST" novalidate>
    {% csrf_token %}
      {{form.as_p}}
      <button type="submit">ارسال</button>
   </form>
   <p><a href="{%  url  'user_app:register'  %}">Create an account</a></p>
   </div>

</body>
</html>