{% load static   %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حذف تسک</title>
    <link rel="stylesheet" href="{%  static   'user_app/css/delete.css' %}">
</head>
<body>
       <div class="container">
        <h2>آیا از حذف  تسک"{{task}}" مطمئن هستید؟</h2>
       

        <form action="" method="POST">
            {%   csrf_token    %}
            <button type="submit" class="btn btn-danger">بله</button>
            <a href="{% url  'task_app:display_task'   %}" class="btn btn-secondary">خیر</a>     
        </form>
    </div>
       
    </form>
</body>
</html>