{%  load static   %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست تسک های کاربر</title>
    <link rel="stylesheet" href="{%  static   'user_app/css/display.css'  %}">
</head>

<body>
<div class="container">
    
    

    <h1>{{request.user.first_name}}   تو دو لیست</h1>
    <ul id="task-list">
        {% for task in todolist %}
        
        <li class="task-item">
            <span class="task-text">{{ task.task.description }}-{{ task.task.created_date|date:'Y,m,d' }}</span>
            <div class="task-buttons">
               <a href="{%  url   "task_app:edit_task"  task.id   %}"><button class="edit-btn">ویرایش</button></a> 
               <a href="{%  url  "task_app:delete_task"  task.id %}"> <button class="delete-btn">حذف</button></a>
               {%  if  task.task.status == False    %}
               <a href="{%  url   "task_app:end_task" task.id %}"> <button  class="not-done">پایان</button> </a>
               {%  endif  %}
               {%  if task.task.status == True  %}
               <button class="done">انجام شده</button>
               {% endif %}
            </div> 
      
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>