{%  load static   %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست تسک های کاربر</title>
    <link rel="stylesheet" href="{%  static   'user_app/css/display.css'  %}">
</head>

<body>
<div class="container">
    
    

    <h1>{{request.user.first_name}} لیست تسک های</h1>
    <ul id="task-list">
        {% for task in tasks %}
        <li class="task-item">
            <span class="task-text">{{ task.task_name }}-{{task.created|date:'Y,m,d'}}</span>
            <div class="task-buttons">
               <a href="{%  url   "task_app:edit_task"  task.id   %}"><button class="edit-btn">ویرایش</button></a> 
               <a href="{%  url  "task_app:delete_task"  task.id %}"> <button class="delete-btn">حذف</button></a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>